﻿@model PagedList.IPagedList<BikeShopWeb.Models.Product>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Buy a bike";
}

<head>
    <!-- Paged List CSS--> 
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <!-- Custom CSS -->
    <link href="~/Content/shop-homepage.css" rel="stylesheet"> 
    
</head>

<body>
    <div class="row">
        <div class="col-md-8 col-lg-offset-2">
            <br />
            <p class="homepagename text-center">Find your new bike</p>
            <br />
        </div>
    </div>
            <div class="container">
                <!-- Searching panel/categories -->
                <div class="row">
                    <div class="col-md-3">
                        <p class="lead">Categories</p>
                        <div class="list-group">

                            @Html.Action("getCategories")

                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="Searching">

                            @using (Html.BeginForm("Index", "Products", FormMethod.Get))
                            {
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>Find by Key Word:</label>
                                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
                                        <button type="submit" class="btn btn-default">Search</button>
                                    </div>

                                </div>
                            }
                            <div class="Sorting">
                                <label>Sort By:</label>
                                @Html.ActionLink("Newest", "Index", new { SortBikes = ViewBag.DateSortParam, currenFilter = ViewBag.CurrentFilter }) <label> | </label>
                                @Html.ActionLink("Price", "Index", new { SortBikes = ViewBag.PriceSortParam, currenFilter = ViewBag.CurrentFilter })
                            </div>
                        </div>
                        <!-- Fetching shop with items -->
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-sm-4 col-lg-4 col-md-4" id="product">
                                    <div class="thumbnail">
                                        <img src="@item.ImageUrl" alt="">
                                        <div class="caption">
                                            <h4 class="pull-right">DKK @Html.DisplayFor(modelItem => item.price)</h4>
                                            <h4>
                                                <a>@Html.ActionLink(item.productName, "Details", "Products", new { id = item.ProductID }, null)</a>
                                            </h4>
                                            <p>@Html.DisplayFor(modelItem => item.productDescription)</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <br />
                        <div class="Pages">
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                            @Html.PagedListPager(Model, page => Url.Action("Index",
                             new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                        </div>
                    </div>
                </div>
            </div>



            <!-- jQuery -->
            <script src="~/Scripts/jquery.js"></script>
            <!-- Bootstrap Core JavaScript -->
            <script src="~/Scripts/bootstrap.min.js"></script>
</body>
